.CreditCard {
  background-color: #70a1ff;
  border-radius: 15px;
  /* from https://www.cssmatic.com/box-shadow generator */
  box-shadow: 7px 13px 22px -8px rgba(143, 132, 143, 1);
}

.master-card-logo-container {
  display: flex;
  justify-content: flex-end;
}

.credit-number {
  font-size: 22px;
}

.f-s-10 {
  font-size: 10px;
}

@media screen and (max-width: 776px) {
  .credit-number {
    font-size: 15px;
  }
}
